{
    "presets": [["@babel/preset-env",{
        "targets": {
          "esmodules": true
        }
      }], "@babel/preset-react" ],
    "plugins": [
      ["prismjs", {
        "languages": ["javascript", "css", "html","bash"],
        "plugins": ["show-language","copy-to-clipboard"],
        "css": true
      }]
    ]
}