
/* ================================
this main root variables
================================ */
#__next{
  overflow-x: hidden;
  font-display: swap;
}


::selection{
  /* color: red; */
  background: var(--form-bg);
  /* color: black; */
}
.row,.column{
  display:flex !important;
  align-items: center;
  flex-direction:row;flex-wrap: wrap;
  justify-content: center;
}
.topic h1{
  color: white;
}
.column{
  flex-direction:column;
}
.row *,.column *{
  flex: 1;
}

body::-webkit-scrollbar,*::-webkit-scrollbar {
  width: .7em;
}
*::-webkit-scrollbar{
  height: .7rem;
}

 
body::-webkit-scrollbar-track,*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb,*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
  border-radius: 12px;
}

body{
  --transition:.5s all;
  --transition1:.5s all;
  --bgcolor:#2F2FA2;
  --hadderbg:#021750;
  --color:white;
  --font: Arial, Helvetica, sans-serif;
  --font_size:17px;
  --hoverc:rgb(55, 197, 216);
  --text-size:14px;
  --font-size-400pxafter:13px;
  --form-bg:#55D;
  /* transition: all 1s; */
    overflow-x: hidden;
    --bgcolor:black;
    --hadderbg:#021750;
    --color:white;
    --font_size:1.3rem;
    --bgi:linear-gradient(315deg, #2d3436 0%, #000000 74%);
    --radius:12px;
}



*{
  margin: 0;
  font-family:var(--font);
}

body{
  overflow-x: hidden;
}

.logo{
  width: 23%;
  /* height: 40px; */
  object-fit: cover;
  border-radius: 20px;
  margin: 1rem;
}

.logo-text{

  color: white;
  background-color:black;
    font-size: 1.8rem;
    padding: 10px;
    text-align: center;
    z-index: 2;
}

.logo-text button{
  margin-top: 1rem;
}
.logo-text a{
  font-size:1.4rem;
}

.main1,.blog_main1{
  height: 100vh;
  display: flex;
  background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  align-items: center;
  overflow-x: hidden;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  justify-content: center;
   
}
.blog_main1 .video{
  height: 117vh;
    width: 100%;
    position: absolute;
    top:0;
    /* object-fit: cover; */
    z-index: 1;
    opacity: 3;
}
.blog_main1{
  /* background-image:url(https://source.unsplash.com/random); */
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-position: center;
}
.blog_main1 img{
  opacity: .6;
}



.MainPageButton {
  position: fixed;
  width: 1rem;
  height: 1rem;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 10;
  --scale:2.5;
}

.Goto_top,.DarkMode,.Icon{
  border-radius: 62px;
  background: var(--form-bg);
  color: aqua;
  position: absolute;
  top:0;
  left: 0;
  transition: var(--transition);
  transform: rotate(
  45deg
  ) scale(var(--scale));
}
.bottom{
  transform: scale(var(--scale)) rotate(
    223deg);
}
.Icon{
  transform:rotate(
    0deg
    ) scale(var(--scale));

    z-index:2;
}
.Goto_top-show{
  transform:rotate(
    45deg
    ) scale(var(--scale)) translate(-138%,138%)
   
}

.DarkMode-show{
  transform:rotate(45deg) scale(var(--scale)) translate(-189%,0);;

}
.bottom-show{
  transform: translate(0, -458%) scale(var(--scale)) rotate(
223deg);

}


.navbar{
  z-index: 100;
  /* top: 0; */
  /* position: fixed; */
  /* width:100%; */
}

.navbar,.navbar-item{
  display: flex;
  position: sticky;
  top:0;
  left: 0;
  align-items: center;
  justify-content:space-between;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer;
  /* flex-direction: column; */
  transition:height 0.3s;
  /* background-color: transparent; */
}

.bg .navbar, .bg .navbar-item{
  background:transparent;
  color: black;
}

.icon{
  display: none;
}
.icons{
  display: flex;
  cursor: pointer;
  align-items: center;
}
.icons .user{
  color: white;
  transform: scale(1.2);
}
.icons {
  color: white !important;
  
}
.icons li a,.login a{
  display: inline-block;
  padding: 2px 0;
}
.icons li a{

  transform: scale(1.2);
  border-radius: 0;
  border: none;
}
.login a:hover{
  background-color: white;
  color: black;
}

.navabar-ul,.Serach ul{
  display: flex;
    list-style: none;
    top: 0px;
    padding: 13px;
    align-items: center;
    width: 100%;
}
.navabar-ul div,.navabar-ul li{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  width: fit-content;
}

.navabar-ul img{
  width: 20%;
  width: 5%;
  padding: 0px;
  margin: 0px;
  height: 66px;
  border-radius: 47px;
}
.navabar-ul li a,.open,.login-choice span,.Mybutton,.navabar-ul li .a,.icons,.Serach li a,.topic a,.tools a{
  text-decoration: none;
  color: var(--color) !important;
  padding: 13px 11px;
  font-family:var(--font);
  font-size: var(--font_size);
  text-transform: capitalize;
}
a{
  cursor: pointer !important;
}


.navabar-ul li a:hover,.Mybutton:hover,.topic a:hover{
  background-color:var(--form-bg);
}
.navabar-ul .a a:hover{
  background-color:unset;
}


p{
  padding: .7rem 0;
 
  line-height: 1.9rem;
}

.main-img{
  width: 100%;
  object-fit: cover;
  
  height: 100vh;
  z-index: -1;
}

.imgshow_div{
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  align-items: center;
}
.pointh{
  transform: scale(1.03);
  border-color: red!important;
  cursor: pointer;
}

.imgshow{
  transition: var(--transition);
  position: absolute;
  opacity: 0;
  width: 100%;
  justify-content:center;
  object-fit: cover;
  
  /* height: 100%; */
}

.imgeAnimationDiv{
  width:8rem;
  margin:1rem 0rem;
  /* height:auto; */
  overflow:hidden;
  cursor:alias;
}
blog-container p{
  width:100%;
  overflow:hidden;
  cursor: pointer;
  transition:all 2s;
}
blog-container p > img:hover{
  cursor: pointer;
  filter:grayscale(30%)
}

iframe{
  margin: 0 auto;
}
.imgeAnimationDiv img,p > img{
  width:100%;
  transition:all 1s;
  cursor: pointer;
  object-fit: cover;

}
p > img,iframe{
  border-radius:12px;
  max-height: 28rem;
  object-fit: cover;

}
.imgeAnimationDiv img:hover{
  transform:scale(1.2)
}

.imgshow *{
  flex: none;
  text-align: center;
  width: 100%;
}
.imgshow > .logo{
  width: 15rem;
}


/* =============================

4.main-container

============================= */

.container{
  display:grid;
  grid-template-columns: repeat(1,100%);
  padding: 10px 10px;
  width: 70%;
  align-items: center;
  justify-content: center;
  grid-column-gap: .9rem;
  /* grid-row-gap: 2rem; */
  margin: 10px auto;
}

.container h1{
  padding: 10px 0px;
}

.container p,.para{
 
  line-height: 1.9rem;
    font-family: var(--font);
  
    margin: 0 auto;
  
}

h1{
  text-align: center;
}

.container-img{
  display: block;
  width: 50%;
  margin: 1rem auto;
}


.container h1:hover{

  color: var(--form-bg);
  cursor: pointer;
}


.box{

  display: flex;
  align-items: center;
  margin: 20px 0px;
  flex-direction: column;
  justify-content: flex-start;
  
  height: 100%;
 
  transition: all .7s;
  border-radius: 2px;
  
}


.box-show > h1,.box >h1,#theology>h1,#contact,#projects >h1,.tools  h1{
  font-size: 3rem;
  align-self: center;
  margin-top: 1.5rem;
}
.box-show,.box-show:nth-child(even){
  opacity: 1;
  transform: translateX(0%);
}

.box > h1 ,.revese-box >h1{
  line-height: 2rem;
  margin-left: 10px;
}


.text-container{
  display: block;
  padding :10px;
}
.para{
  /* padding: 3px; */
  text-align: justify;
}



.list-container{
  display: block;
  /* width: fit-content; */
  width:100%;
  margin:0 auto;
}



.icons,.Login-Page{
  /* display: flex; */
  display: flex;
    /* margin-top: 10px; */
    align-items: center;
    justify-content: center;
  /* margin-top: 10px; */
}
.icons *{
  margin: 0 1rem ;
}


.Login-Page{
  flex: 2;
  margin: 0;
  cursor: pointer;
  width: 40%;
  align-items: center;
  justify-self: flex-end;
  justify-content: flex-end;
}
.login{
  margin: 0 .4rem;
}
.show li{
  text-decoration: none;
  border: none;
}
/* End Tecnology */

/* footer */

.footer{
  display: flex;
  /* background-color: var(--bgcolor); */
  background-image: var(--bgi);
  color: white;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 10px;
  align-items: center;
}
.footer ul::before{
  content: 'Follow Me On';
}

.footer-ul{
  display: flex;
  flex-direction: column;
  list-style: none;
}
.footer-ul li{
  display: inline;
  padding: 10px;
}
.footer-ul li svg{
  color: white;
}
.footer-ul li svg:hover, .footer p:hover,.container table td:hover,.container table tr:hov{
  color: var(--hoverc);
  cursor: pointer;
}
.footer-ul li svg:hover{
  color: var(--form-bg);
}


.rotetor{
  /* position: absolute; */
  border: none;
  transition: var(--transition);
  transform: rotate(90deg);
}


/* form */
.con{

  background-image: var(--bgi);
  padding: 1rem;
}
.con h1{
  color: white  !important;
}
.form{
  display: flex;

    flex-direction: column;
    align-items: center;
    width: 70%;
    align-self: flex-start;
    font-size: vat(--font_size);
    justify-content: center;
    margin: 1rem auto;
    margin-top: 0;

}
.MyContact{
  margin-left: .4rem;
}
.form-input{
  display: inline-block;

  font:none;
  
  margin: 10px auto;
  padding: .5rem;
  border: 2px solid white;
  padding: 15px 0;
  /* outline: 0; */
   background: blue;;
  font-size: var(--font);
  background-color: transparent;
  color: white;
  outline: none;
  text-align: center;
  border-radius: 10px;
}
.userInfo .form-input{
  border: 2px solid var(--hadderbg);
  color: black !important;
  width: fit-content;
  margin-left: 2rem;
  padding: .8rem;
  text-align: center;
  margin: inherit;
}
.userInfo{
  font-size: 1.2rem;
}
.userInfo div{
  width: 100%;
  justify-content: space-between;
}
.userInfo span{
  color: black  !important;
}

.form div input,.form div textarea{
  color: white;

  
}
.Log .form div{
  width: 100%;
}
.Log .form div input{
  width: 50%;
}

  .form-input:focus,.form div :hover{
    /* border-bottom-color: var(--bgcolor); */
    color: white;
    cursor: pointer;
    border-color:gree ;

  }

::placeholder { 
  color: white;
  opacity: 1; /* Firefox */
}
.form div{
  display: flex;
    align-items: center;
    padding:16px;
    width: 100%;
    /* width: 500px; */
}
.form-input{
  align-self: flex-start;
  /* width: 90%; */
}

.form div label{
  display: flex;
  /* font-weight: bold; */
  color: white;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
}

.form div label svg{
  margin: 0 10px;
  width: 34px;
  height: 24px;
}

.form  .btn,.form  .alert{

     width: 50% ;
     border-radius: 10px !important;
     margin: .4rem 0;
     
    }
    .btn{
  box-shadow: 0px 0px 4px var(--form-bg);
  display: flex;
  justify-content: center;
border: 0;

width: 100%;
font-weight: bold;
background-color: transparent;
padding: 15px 0;
/* margin: 10px; */
outline: 0;
cursor: pointer;
background-color: var(--bgcolor);
color: var(--color);
margin: 0;

}
.btn:hover{
  transition: all .5s;
  background-color:var(--form-bg);
}
.btn >a{
  text-decoration: none;
  color: inherit;
}
/* end form */

.blur{


  pointer-events: none;
}



.User{
  width: 100%;
}
.MyContact div,.MyContact .btn{
  width: 100%;
}

/* =========================================
For Mobile
========================================= */
@media only screen and (max-width: 1200px) {
  .navabar-ul img{
    display: none;
  }
  .nav-icon > span{
    margin: 0 1rem;
  }
  .navabar-ul img {
   
    margin: 9px 3rem;
    /* border-radius: 47px; */
}
 
  .container p, .para ,.container-img{
    width: 100%;
    /* text-align: initial; */
}
.container-img{
  margin: 0;
}
  .footer ul::before{
    content: 'Follow Me On';
  }
  .footer{
    flex-direction: column-reverse;
  }
  .Log .form div input,.Log .btn,.form >.btn,.form > .alert{
    width: 70%;
  }
  .footer ul{
    align-items: center;
    display: flex;
  }
  .bg .navbar, .bg .navbar-item{
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);

  }
  .blog_main1 .video {
    height: 82vh;
  }
  .userInfo div{
    width: fit-content !important;
    flex-direction: column;
  }
  .userInfo .form-input{
    margin: 1rem;

  }
  
  .navabar-ul li a,.open,a,.login-choice span,.Mybutton,.icons > div{
    padding: 7px;
    margin: 10px;
    align-items: center;
  }
  .icons{
    padding: 0;
    align-items: flex-start;
  }
  .icons > div{
    justify-content: flex-start;
    align-items: center !important;
  }

  .navabar-ul li a{
    margin: 7px;

  }
  .login {
    margin: 0;
  }
  .Login-Page{
    width: 40%;
    align-items: center;
    justify-content: flex-start;
  }
  .main1{
    background-color: #F64C72;
    height: auto;
    flex-direction: column;
  }
  .blog_main1{

    height: 75vh;
  }
  .logo{
    width: 66%;
  }
  .logo-text .btn{
    padding:0 ;
  }
  .logo-text{
    margin: 1rem;

  }
  .navabar{
    z-index: 2;
    flex-direction: column;
  }
  .line_div{
    border: none;
  }
  .navabar-ul li a:hover,.Mybutton:hove{
    /* background-color: none; */
    color: bisque;
  }


  .logo-text{
    font-size: 1rem;
    font-size: 1rem;
    /* opacity: .69; */
  }
  .Goto_top{
    /* transform: rotate(45deg) scale(2); */
    z-index: 2;
  }

  .MainPageButton{
    opacity: .5;
    right: 20px;
  }
  
 
  .box,.revese-box{
    flex-wrap: wrap;
    /* border: 2px solid; */
    align-items: flex-start;
  }
  .container{
    grid-template-columns: 90%;
    width: 90%;
  }
  .text-container{
    padding: 0px;
  }
  .box,.revese-box{
    width: 100%;
    flex-direction: column;
  }
  .navabar{
    flex-direction: column;
    align-items: flex-start;
  }
  
  .icon{
    display: block;
    transition: var(--transition);
    /* position: absolute; */
    color: white;
    z-index: 1000;
    /* background-color: var(--bgcolor); */
    padding: 10px;
    left: 0;
    padding-top:14px;
  }
  .icon svg{
    transform: scale(2) rotate(90deg);
  }
  .navabar-ul div, .Login-Page, .icons {
    flex-direction: column;
    align-items: flex-start;
}
  
  .icon:hover{
    cursor: pointer;
    color: var(--form-bg);
  }
  .navbar-item{
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    /* height: 0; */
    /* overflow: hidden; */
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    /* bottom: 0; */
  }
  .navshow{
    transform: translateX(0);
    transition: var(--transition1);
  }
  .nav-icon{
    background-image: linear-gradient( 
  315deg
  , #2d3436 0%, #000000 74%);
    
  }
  .navabar-ul li{
    font-size: 15px;
    align-items: flex-start;
    margin: .6rem 0;
  }
  .navabar-ul{
    align-items: flex-start;
    flex-direction: column;
  }


  .text-container{
    width: 100%;
  }
  .para{
    /* line-height: 1.4rem; */
    font-size: var(--text-size);
  }
 
  .container table td, .container table tr{
    font-size: 8px;
    padding: 6px;
    font-weight: bold;
  }
  .form{
   
    width: 90%;
    border: none;
    
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    border-radius: 0;
  }
  .form div{
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: var(--font_size);
    width: 100%;
    /* width: 10px; */
  }
  .form div label{
    font-size: var(--text-size);
  }
  .form-input{
    width:100%;
    font-size: var(--text-size);
  }
  .form div label svg{
    width: 24px;
    height: 24px;
  }
  .loadding svg{
    width:40px;
    height: 40px;
  }
  .main-img{
    height: 60vh;
  }
  .navabar-ul li a{
    font-size: 1rem;
  }
  .row *, .column * {
    flex: none;
}
.error{
  flex-direction: column;
}
.blog_main1{
  align-items: center;
  position: relative;
}

}

@media only screen and (max-width: 420px) {
  .box-show > h1,.box >h1,#theology>h1,#contact,#projects >h1,.tools h1{
    font-size: 2rem;
    align-self: center;
    margin-top: 1rem;
  }
  .nav-icon > span{
    margin: 0 .3rem;
  }
  .topic .list{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0rem auto;
    
  }
  .Log .form div input, .Log .btn, .form >.btn, .form > .alert{
    width: 100% !important;
  }
  .blog_main1 .video {
    height: 83vh;
  }
  .blog_main1{
    align-items: center;
      height: 76vh;
  }
  .topic .list a{
    
    font-size: 14px;
}

  .navabar-ul div,.Login-Page,.icons{
    flex-direction: column;
    align-items: flex-start;
  }

  .navabar-ul img{
    width: 33%;
    margin: 0 12px;
  }
  .row, .imgeAnimationDiv{
    flex-wrap: wrap;
    align-items:flex-start;
  }
  .imgeAnimationDiv{
    width:4rem;
    /* margin:1rem 1rem; */
  }
  .imgshow_div > div{
    margin:1rem 1rem;
  }
  .footer-ul{
    display: none;
  }
  .icon svg{
    transform: scale(1.4) rotate(90deg);
  }

  .form div{
    margin: 20px 0;
   
    justify-content: center;
   
    padding: 3px;
    width: 300px;
  }
  .form div{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .form-input{
    font-size: 12px;
    /* padding: 10px; */
    /* width: 90%; */
    
  }
  .Serach input{
    width: 75%;
}
.Serach ul{
  /* top:66px; */
  width: 77% !important;
}
.Serach li{
  width: 89% !important;
}
  
}
@media only screen and (max-width: 300px) {
  .footer-ul{
    display: none;
  }
  
  .container table th, .container table tr {
    font-size: 6px;
  }
  .para{
    font-size: vat(--font-size-400pxafter);
  }
  
 
  .logo-text,.footer-para{
    font-size: var(--font-size-400pxafter);
  }

}

@media only screen and (max-width: 300px) {
  body{
    font-size: 6px;
  }
  .container table{
    display: none;
  }
}


  




